@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

*, *::after, *::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
}
.container{
  height: 100vh;
  display: flex;
  width: 1080px;
  margin-inline: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.board {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.board-row {
  display: flex;
}
.square {
  width: 100px;
  aspect-ratio: 1;
  border: 2px solid black;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 700;
  font-size: 55px;
  padding: 10px 10px; 
  cursor: pointer;
}
.square-x {
  color: red;
}
.square-o {
  color: yellow;
}
