@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

*, *::after, *::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  background-color: #29273c;
}
.container {
  height: 100vh;
  display: flex;
  width: 85%;
  margin-inline: auto;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.board {
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 5px solid #29273c;
}
.board-row {
  display: flex;
}
.square {
  width: calc(200px/3);
  aspect-ratio: 1;
  border: 5px solid #29273c;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding: 10px 10px; 
  cursor: pointer;
  background-color: #16141f;;
}
.square-x {
  color: #812ddc;
}
.square-o {
  color: #ffffff;
}
.status {
  font-size: 16px;
  font-family: 'Lexend Deca', sans-serif;
  color: #ffffff;
}
.title {
  font-size: 18px;
  font-family: 'Lexend Deca', sans-serif;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}
.restart-button {
  background-color: #812ddc;
  border: 2px solid #812ddc;
  border-radius: 4px;
  color: #ffffff;
  padding: 5px 10px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 10px;
  cursor: pointer;
  transition: all .3s ease;
}
.restart-button:hover {
  box-shadow: 0px 5px 10px #6323a8;
}
.functionality {
  display: flex;
  gap: 40px;
  align-items: baseline;
}
@media (min-width: 560px){
  .board{
    width: 300px;
  }
  .square {
    width: calc(300px/3);
    font-size: 55px;
  }
  .container {
    width: 70%;
    padding: 20px;
  }
  .restart-button {
    padding: 10px 20px;
    font-size: 18px;
  }
  .title {
    font-size: 30px;
  }
  .status {
    font-size: 22px;
  }
}  
@media (min-width: 720px) {
  .restart-button {
    padding: 8px 16px;
    font-size: 18px;
  }
}